
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 45% 97%;
    --foreground: 20 20% 15%;
    --card: 45 45% 97%;
    --card-foreground: 20 20% 15%;
    --popover: 45 45% 97%;
    --popover-foreground: 20 20% 15%;
    --primary: 44 93% 48%; /* #F6BB00 */
    --primary-foreground: 20 20% 15%;
    --secondary: 203 93% 47%; /* #0C96E4 */
    --secondary-foreground: 20 0% 100%;
    --muted: 45 30% 95%;
    --muted-foreground: 20 10% 45%;
    --accent: 148 71% 41%; /* #1EB742 */
    --accent-foreground: 20 0% 100%;
    --destructive: 359 100% 60%; /* #FF3334 */
    --destructive-foreground: 0 0% 98%;
    --border: 34 20% 85%;
    --input: 34 20% 85%;
    --ring: 44 93% 48%;
    --radius: 0.8rem;
    --chart-1: 44 93% 48%;
    --chart-2: 148 71% 41%;
    --chart-3: 203 93% 47%;
    --chart-4: 310 92% 60%;
    --chart-5: 180 92% 60%;
  }
  .dark {
    --background: 210 15% 12%;
    --foreground: 210 10% 85%;
    --card: 210 15% 12%;
    --card-foreground: 210 10% 85%;
    --popover: 210 15% 12%;
    --popover-foreground: 210 10% 85%;
    --primary: 44 93% 48%;
    --primary-foreground: 210 15% 12%;
    --secondary: 203 93% 47%;
    --secondary-foreground: 210 15% 12%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 148 71% 41%;
    --accent-foreground: 20 0% 100%;
    --destructive: 359 100% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 20%;
    --input: 210 10% 20%;
    --ring: 44 93% 48%;
    --chart-1: 44 93% 48%;
    --chart-2: 148 71% 41%;
    --chart-3: 203 93% 47%;
    --chart-4: 310 92% 60%;
    --chart-5: 180 92% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
